name: Veracode Upload and Scan on Release

on:
  release:
    types: [created]
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'  # Runs monthly on the 1st at midnight UTC

jobs:
  veracode_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Tidy and vendor Go dependencies
      run: |
        go mod tidy
        go mod vendor

    - name: Package Go source code for Veracode
      run: |
        mkdir -p veracode_artifact/src
        rsync -av ./ veracode_artifact/src/ \
          --exclude '.git*' \
          --exclude '.github*' \
          --exclude 'examples/*' \
          --exclude 'picard_test/*' \
          --exclude '*_test.go' \
          --exclude 'Makefile' \
          --exclude 'LICENSE' \
          --exclude 'veracode_artifact/*'
        cp go.mod go.sum veracode_artifact/src/
        rsync -av vendor/ veracode_artifact/src/vendor/
        cd veracode_artifact
        zip -r app.zip src

    - name: List contents of app.zip
      run: unzip -l veracode_artifact/app.zip

    - name: Upload and Scan with Veracode
      uses: veracode/veracode-uploadandscan-action@0.2.8
      with:
        appname: 'Nintex Apps Skuid - picard'
        createprofile: true
        filepath: 'veracode_artifact/app.zip'
        version: ${{ github.event.release.tag_name || format('run-{0}', github.run_number) }}
        vid: ${{ secrets.VERACODE_API_ID }}
        vkey: ${{ secrets.VERACODE_API_KEY }}
